<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.camera.simplewebcam"
      android:label="@string/app_name"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/backupcamicon">
        <activity android:name="com.camera.simplewebcam.Main" 
            	android:label="@string/app_name"
            	android:screenOrientation="sensorLandscape">
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
        </activity>
        <service android:name="com.openxc.VehicleManager"/>
        <service android:name=".VehicleMonitoringService"/>
        <receiver android:name="BootupReceiver">
        	<intent-filter>
              <action android:name="android.intent.action.BOOT_COMPLETED"/>
              <service android:name="com.openxc.VehicleManager"/>
            </intent-filter>
        </receiver>
	</application>
    <uses-sdk android:targetSdkVersion="12" android:minSdkVersion="8"></uses-sdk>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.usb.host"
          android:required="true" />
</manifest>
